ul{
    list-style-type: none;
    padding:0px;
}
a{
    text-decoration:none ;
    color:#444;
    font-family:arial;
}

li:hover{ background-color: #eee;
border-bottom:solid 1px #f60;
}

li{
    width: 20%;
    padding: 5px;
    border-bottom:solid 1px;
    font-size: italic;
}
